.theme-light .cm-editor.simple-editorial-editor,
.theme-light .simple-editorial-mode-action {
  --simple-editorial-color: #c64a3d;
}

.theme-dark .cm-editor.simple-editorial-editor,
.theme-dark .simple-editorial-mode-action {
  --simple-editorial-color: #de5e4e;
}

.cm-editor.simple-editorial-editor
  .cm-line:not(.HyperMD-codeblock)
  .cm-comment,
.cm-editor.simple-editorial-editor .cm-strikethrough,
.cm-editor.simple-editorial-editor .cm-formatting-strikethrough {
  color: var(--simple-editorial-color);
}

.cm-editor.simple-editorial-editor .cm-strikethrough {
  text-decoration-color: var(--simple-editorial-color);
}

.simple-editorial-mode-action.is-enabled {
  color: var(--simple-editorial-color);
}

.cm-editor.simple-editorial-editor.simple-editorial-comment-mode .cm-cursor {
  border-left-color: var(--simple-editorial-color);
}
